<div class="container">
  <button
    [disabled]="buttonDisabled"
    class="btn btn-danger"
    (click)="textColor = 'text-danger'"
  >
    Color Rojo
  </button>
  <button
    [disabled]="buttonDisabled"
    class="btn btn-success mx-2"
    (click)="textColor = 'text-success'"
  >
    Color Verde
  </button>
  <button
    [disabled]="buttonDisabled"
    class="btn btn-primary"
    (click)="textColor = 'text-primary'"
  >
    Color Azul
  </button>

  <p [ngClass]="textColor">Texto que va a cambiar de color</p>

  <button class="btn btn-secondary" (click)="buttonDisabled = !buttonDisabled">
    Activar / Desactivar
  </button>
</div>
